# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Generated Text files for test
*.txt

# Intellij files
.idea/

# Tools directory
tools/

# Mac files
.DS_Store

# Assets
assets.go

# Deps
vendor/*